<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Payture>
            <version>1.0.1</version>
        </Mygento_Payture>
    </modules>
    <global>
        <models>
            <payture>
                <class>Mygento_Payture_Model</class>
                <resourceModel>payture_mysql4</resourceModel>
            </payture>
            <payture_mysql4>
                <class>Mygento_Payture_Model_Mysql4</class>
                <entities>
                    <keys>
                        <table>mygento_payture</table>
                    </keys>
                </entities>
            </payture_mysql4>
        </models>
        <blocks>
            <payture>
                <class>Mygento_Payture_Block</class>
            </payture>
        </blocks>
        <helpers>
            <payture>
                <class>Mygento_Payture_Helper</class>
            </payture>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <payture_observer>
                        <class>payture/observer</class>
                        <method>sendEmail</method>
                    </payture_observer>
                </observers>
            </checkout_submit_all_after>
        </events>
        <resources>
            <payture_setup>
                <setup>
                    <module>Mygento_Payture</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payture_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <payture>
                    <files>
                        <default>Mygento_Payture.csv</default>
                    </files>
                </payture>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <payture>
                <use>standard</use>
                <args>
                    <module>Mygento_Payture</module>
                    <frontName>payture</frontName>
                </args>
            </payture>
        </routers>
        <translate>
            <modules>
                <payture>
                    <files>
                        <default>Mygento_Payture.csv</default>
                    </files>
                </payture>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <payture>
                <model>payture/checkout</model>
                <paytype>Pay</paytype>
                <message>Оплата в процессинговом центре Payture</message>
                <title>Оплатить банковской картой</title>
                <test>1</test>
            </payture>
        </payment>
    </default>
    <crontab>
        <jobs>
            <payture_fivemin>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>payture/cron::fivemin</model>
                </run>
            </payture_fivemin>	
        </jobs>
    </crontab>
</config>
